#ignore the following files
*.in
*.log
*.pyc
*.out
*.o
*.so
.cache
screen*
*bkp
build
KIM_MODEL_PARAMS*
*.edn
*.lammps
maybe_needed
tests/echo*
FINAL_FITTED_PARAMS
libs/geodesicLMv1.1

# special for docs
docs/*
!docs/source
docs/source/*
!docs/source/conf.py
!docs/source/quickstart.rst
!docs/source/installation.rst
!docs/source/index.rst

