#ignore the following files
build/
dist/
.cache/
*.egg-info/
*.o
*.so
*.pyc
*.in
*.log
*.out
*.tfrecords
*.pkl
*.edn
*.lammps
*.yml
*.pt
ERROR_REPORT
FINAL_FITTED_PARAMS
ann_kim.params
maybe_needed
libs/geodesicLMv1.1
tests/echo*
tests/fingerprints/

# special for docs
docs/*
!docs/source
docs/source/*
!docs/source/conf.py
!docs/source/quickstart.rst
!docs/source/installation.rst
!docs/source/index.rst

