pybind11==2.10.2
scipy==1.9.3
numpy==1.24.1
pyyaml==6.0
monty==2022.9.9
loguru==0.6.0
torch==1.10.0
torch_cluster==1.6.0
torch_sparse==0.6.14
torch_scatter==2.0.9
torch_geometric==2.0.4
git+https://github.com/colabfit/colabfit-tools@aa2d1e3b160275cdb7d8734afdbbb4a570a92a94#egg=colabfit_tools
